
<br>
<br>
<br>
      <!--*****************************-->
    <div class="row" id="bigCallout">
				<div class="col-12">

				</div><!-- end col-12 -->
			</div><!-- end bigCallout -->
			
			
			<div class="row" id="featuresHeading">
				<div class="col-12">
					<h2>Vos Fonctionnalités</h2>
					<p class="lead">Pour que la manipulation devient souple, on vous sépare chacune des fonctionnalités.</p>
				</div><!-- end col-12 -->
			</div><!-- end featuresHeading -->
			
			
			<div class="row" id="features">
				<div class="col-sm-3 feature">
					<div class="panel">
						<div class="panel-heading" id="pnl">
							<h3 class="panel-title">Gestion des Comptes</h3>
						</div><!-- end panel-heading -->
						<img src="../../../assets/images/comptes.png" alt="HTML5" class="img-circle">
						
						<p></p>
						
						<a href="#" target="_blank" class="btn btn-warning btn-block">ajouter un compte</a>
					</div><!-- end panel -->
				</div><!-- end feature -->
				
				<div class="col-sm-3 feature">
					<div class="panel">
						<div class="panel-heading" id="pnl">
							<h3 class="panel-title" >Gestion des Réunions </h3>
						</div><!-- end panel-heading -->
						<img src="../../../assets/images/réunion.png" alt="CSS3" class="img-circle">
						
						<p></p>
						
						<a href="#" target="_blank" class="btn btn-danger btn-block">Organiser une réunion</a>
					</div><!-- end panel -->
				</div><!-- end feature -->
				
				<div class="col-sm-3 feature">
					<div class="panel">
						<div class="panel-heading" id="pnl">
							<h3 class="panel-title">Information</h3>
						</div><!-- end panel-heading -->
						<img src="../../../assets/images/info.png" alt="Bootstrap 3" class="img-circle">
						
						<p></p>
						
						<a href="#" target="_blank" class="btn btn-info btn-block">Diffuser une information</a>
					</div><!-- end panel -->
				</div><!-- end feature -->
				<div class="col-sm-3 feature">
					<div class="panel">
						<div class="panel-heading" id="pnl">
							<h3 class="panel-title">Gestion des Paiements</h3>
						</div><!-- end panel-heading -->
						<img src="../../../assets/images/paiement.png" alt="HTML5" class="img-circle">
						
						<p></p>
						
						<a href="#" target="_blank" class="btn btn-warning btn-block" id="pabtn">Gérer les paiments</a>
					</div><!-- end panel -->
				</div><!-- end feature -->
			</div><!-- end features -->