
<div class="container ">
    <h1 class="page-header">Add Copro</h1>
    <form (submit)="addContact()">
        <div class="form-group">
           <label>Nom</label>
           <input type="text" [(ngModel)] = "name" name="name" class="form-control">  
        </div>
        <div class="form-group">
                <label>Apparetment</label>
                <input type="text" [(ngModel)] = "appart" name="appart" class="form-control">  
            </div>
            <div class="form-group">
                <label>Tel</label>
                <input type="text" [(ngModel)] = "tel" name="tel" class="form-control">  
            </div>
            <div class="form-group">
                    <label>code</label>
                    <input type="text" [(ngModel)] = "code" name="code" class="form-control">  
                 </div>
          <input type="submit" class="btn btn btn-success" value="Add">
        </form>
</div>


<hr>

<div class="container" >
        <h1 class="page-header">Listes des Copros</h1>
        <div *ngFor = "let contact of contacts">
        
            <div class="col-md-3">
                -Nom  : {{ contact.name  }}
            </div>
            <div class="col-md-3">
                -Telphone: {{  contact.tel  }}
          </div>
          <div class="col-md-3">
            -apparetement  : {{  contact.appart }}
    </div>
          <div class="col-md-3">
                -code d'accée  : {{  contact.code }}
        </div>

         <div class="col-md-3">
             <input type="button" (click)= "deleteContact(contact._id)" value="Delete" class="btn btn-danger">
              
            </div>

        </div>
     </div>